

.container {
  display: flex;
  min-height: 250px;
  width: 100%;
  margin: 15px auto;
  overflow: hidden;
  border: 2px solid red;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.dots {
  display: flex;
}

.dots_style {
  width: 10px;
  height: 10px;
  margin: 0 3px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: cornsilk;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: blue;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.styles_active {
  background-color: red;
  opacity: 0.5;
  transition: 0.3s;
}

.arrow {
  width: 30px;
  height: 30px;
  border-bottom: 5px solid red;
  border-right: 5px solid red;
  position: absolute;
  top: 50%;
  opacity: 0.5;
  transition: 0.3s;
  &_left {
    left: 10px;
    transform: translateY(-50%) rotate(134deg);
  }
  &_right {
    right: 10px;
    transform: translateY(-50%) rotate(-45deg);
  }
  &:hover {
    border-color: blue;
    opacity: 1;
  }
}
